/**** estilo do menu oculto ********************/
.side-menu-sec {
  overflow: hidden;
  /* background: rgba(0, 0, 0, .95); */
  background: linear-gradient(to left, rgba(212, 21, 246, 1), rgba(24, 70, 94, 1));
  /* rgba(136,166,176,.9)*/
  padding: 40px 0 0 40px;
  position: fixed;
  top: 0;
  right: -320px;
  height: 100%;
  z-index: 3;
  transition: 0.5s;
  width: 320px;
  font-size: 1.4em;
}

.side-menu-sec ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  width: 500px;
  height: 80%;
}

.side-menu-sec ul li a {
  display: block;
  padding: 6px 4px 6px 4px;
  color: #989898;
  transition: 0.3s;
  text-decoration: none;
  /* border-bottom: solid 1px rgba(255,255,255,.7); */
}

.side-menu-sec a.menu-close {
  padding: 8px 0 4px 23px;
  color: #6B6B6B;
  display: block;
  margin: -30px 0 -10px -20px;
  font-size: 35px;
  text-decoration: none;
}

.side-menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.paginas li a:hover {
  background-color: rgba(0, 0, 0, .7);
  color:#9C9C9C !important;
  /* border-bottom: solid 1px rgba(0,0,0,.7); */
}


#redes-sociais ul {
  list-style: none;
  text-align: left;
}

#redes-sociais ul li {
  display: inline;
  margin: 0 1em;
}

#redes-sociais ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.1em;
  font-size: 1.2em;
}

/*** Hover do icones das redes sociais  ***/
#redes-sociais ul li.face a:hover, #redes-sociais-footer ul li.face a:hover {
  transition: color 0.3s;
  color: #3b5998;
}

#redes-sociais ul li.twit a:hover, #redes-sociais-footer ul li.twit a:hover {
  transition: color 0.3s;
  color: #1da1f2;
}

#redes-sociais ul li.insta a:hover, #redes-sociais-footer ul li.insta a:hover {
  transition: color 0.3s;
  color: #c13584;
}

/************************************************/
.fa-bars, .fa-search {
  font-size: 1.7em;
  color: #fff;
}

/******* ajuste do carrosel *******************************************/
.my-carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: inherit;
  z-index: 1;
}

.my-carousel-indicators li {
  text-indent: 0;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  line-height: 20px;
  color: #fff;
  background-color: #fff;
  transition: all 0.25s ease;
}

.my-carousel-indicators li.active {
  color: #3A01DF;
  background-color: #3A01DF;
  width: 20px;
  height: 20px;
}

.my-carousel-indicators li:hover {
  color: #999;
  background-color: #999;
  width: 20px;
  height: 20px;
}

/**************** FONTES DO SITE ****************************************/
body {
  font-family: 'Roboto', sans-serif;
}

.shadow-text{
  text-shadow: 3px 3px 6px #888;
}
/*************   Header das paginas *****************************************/
#navheader {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc00ff, #00dbde);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc00ff, #00dbde);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#navheader a {
  color: #fff;
}
#navheader a:hover, #header-sert a:hover{
  transition: color 0.4s;
  color: #000;
}

#navprincipal {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

#navprincipal a {
  text-decoration: none;
  color: #fff;
}

#navprincipal a:hover {
  transition: color 0.3s;
  color: #9C9C9C;
}

/********** AJUSTE DO FOOTER ******************************/
#footer {
  padding-top: 2em;
  background-color: #000;
  color: #fff;
}

#redes-sociais-footer ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

#redes-sociais-footer ul li {
  display: inline;
}

#redes-sociais-footer ul li a {
  padding-right: 1.5em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  transition: color 0.3s;
  color: #9C9C9C;
}

.logo-footer {
  margin: 0 auto;
  width: 4em;
  height: 4em;
}

.copy {
  padding-top: 2em;
  text-align: center;
}

/********************* HOME PRINCIPAL *****************************************/
.home-cifras h3, .home-ritmo h3 {
  max-width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: linear-gradient(to left, #fc00ff, #00dbde);
  color: #fff;
  border: none;
  text-decoration:none;
}
a.home-cifras, a.home-ritmo{
  text-decoration:none;
}

.home-cifras h3 {
  background: url('../images/home/cifras.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-cifras h3:hover, .home-ritmo h3:hover {
  background: linear-gradient(to right, #fc00ff, #00dbde);
  color: #000;
  text-decoration:none;
}

.home-indica {
  padding-top: 2em;
}

.r-item {
  padding: .9em 0 0.9em 0;
}

.rank {
  /* box-shadow: 2px 1px 1px #000000; */
  /* background-color: #f1f1f1; */
  padding: 1em 0em 1em 1.5em;
  margin: 20px 0;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important; */
}

/***********   Quem Somos **************/

.quem-somos-black{
  background-color: #000;
  color: #fff;
}


/*****************AJUSTES DAS PAGINAS SERTANEJO *******************************/
/** Header **/
#header-sert ,.list-sertanejo{
  background: #782710;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #782711, #FF9100);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #782711, #FF9100);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#header-sert a {
  color: #fff;
}

/*** Sertanejo home ***/
#carouselSertanejo {
  background-color: #000;
}

.sect-1-home-sert {
  height: 310px;
  background: #D2EFFF url('../images/sertanejo/historia.jpg') no-repeat;
  background-size: cover;
}

.sect-2-home-sert {
  height: 314px;
  background: #D2EFFF url('../images/sertanejo/artistas.jpg') no-repeat;
  background-size: cover;
}

.sect-3-home-sert {
  height: 314px;
  background: #D2EFFF url('../images/sertanejo/marcos.jpg') no-repeat;
  background-size: cover;
}

.fundo-texto {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #fff;
  position: absolute;
  bottom: 0px;
  background-color: rgba(185,90,9, .4);
  width: 90%;
}

.fundo-texto a {
  color: #fff;
  font-size: 1em;
}

a div.fundo-texto:hover {
  transition: background-color 0.5s;
  background-color: #B95A09;
}

/*** Sertanejo artistas ***/
.list-albuns {
  list-style: none;
}

.list-albuns li {
  display: inline;
}

.bk-sertanejo{
  background: linear-gradient(to right, #782711, #FF9100,#782711);
}

/*** Sertanejo origem ***/
.origem-sert .jumbotron {
  background: url('../images/sertanejo/historia.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}

/***sertanejo lacamentos  **/
#img-lancamento {
  width: 21.875em;
  height: 21.875em;
}

.lancamento {
  background: url('../images/sertanejo/textura.png');
}

/***sertanejo destaque**/
img.img-destaque {
  width: 1140px;
  height: auto;
}

.sert-dest-aside h3, .sert-dest-sect h3 {
  background-color: #B95A09;
  color: #FFF;
}

.sert-dest-aside {
  /* background-color: rgba(185, 90, 9, 0.49); */
  /* background-color: rgba(255, 145, 0, 0.6); */
  min-height: 30em;
}

.menu-icon-dest {
  font-size: 3em;
}

.menu-text-dest {
  font-size: .9em;
}
/****************************AJUSTES CLASSICA*****************************/
#header-classica {
  background: #D1913C;
  background: linear-gradient(to right, #D1913C, #FFD194);
}
/*Home clássica*/
#artistas {
    background-image: url('../images/classica/artistasmenuteste.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
#origem {
    background-image: url('../images/classica/origemmenuteste.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
#famosas {
    background-image: url('../images/classica/famosasmenuteste.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#destaques {
    background-image: url('../images/classica/destaquesmenuteste.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
#curiosidades {
    background-image: url('../images/classica/curiosidadesmenuteste.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tmenu {
    font-size: 25px;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}
.pmenu {
    font-size: 14px;
    color: white;
    padding: 0px 0px 10px 10px;
}
.tboxmenu {
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top: 250px;
    height: 150px;
}
/*Artistas da clássica*/
.partistas {
    text-indent: 40px;
}
/*Origem a clássica*/
.porigem {
    padding: 15px 0px 0px 0px;
    text-indent: 40px;
    text-align: justify;
}
.tboxorigem {
    padding: 10px;
    margin: 2px;
    color: black;
}
#boxorigem {
    background-color: #efbe6b;
    border-radius: 10px;
    padding: 10px;
}
/*Destaques da clássica*/
.tcarousel {
    padding: 40px;
}
.pdestaques {
    text-indent: 40px;
    padding: 10px 0px 0px 0px;
}
/*Curiosidades da clássica*/
.tmarcos {
    padding: 10px;
    margin: 0;
    text-align: center;
}
.mleiamais {
    background-color: #ffa000;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-weight: bold;
}
/*Famosas da clássica*/

.tableclassica tr {
    border-bottom: 1px solid lightgray;
}
.fprimeiracolocada {
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 1px 3px 10px #efbe6b;
}
.fcolor {
    background-color: #efbe6b;
}
/****************************FINAL DOS AJUSTES DA PÁGINA CLÁSSICA*********/
/*NOTICIAS*/
imgnot {
    width: 100%;
    height: 100%;
}
.tnot {
    padding: 0px 10px 0 10px;
    text-align: left;
}
.pnot {
    padding: 0px 10px 0 10px;
    margin: 0;
    text-align: justify;
}
.tnoticias {
    padding: 0;
    margin: 0;
    color:white;
    text-align: left;
    font-weight: bold;
}
.pnoticias {
    padding: 0;
    margin: 0;
    color:white;
    text-align: left;
}
.bnot {
    background-image: url('../images/noticias/slide/katy-perry.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
/****************************AJUSTES DA PAGINA INDIE  ********************/
/** Header **/
#header-indie {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header-indie a {
  color: #fff;
}

h3.titulos-indie {
  font-size: 16px;
  color: #a0a0a0 !important;
}

/****************************AJUSTES CONTATO******************************/
.contatinho{
    background-color: black;
}

#fotinha {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}

#fotinha2 {
    color: white !important;
}

#fotinha img{
    border: solid 20px;
    border-color: white;
    filter: alpha(opacity=65);
}


/****************************** AJUSTES PG POP ******************************/
#header-pop  {
    background: #FF0080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7D00F9, #FF0080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7D00F9, #FF0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header-pop a  {
  color: #fff;
}

/* ======== AJUSTES HOME ======== */
.caixa1 {
    position: relative;
    width:100%;

}
.caixaT1 {
    font-size: 0.9em;
    color:#fff;
    padding: 5px;
    transition: background-color 1s;
    position: relative;
    bottom: 90px;
    width: 70%;
    margin-left: 30%;
    background-color: rgba(169, 169, 169, 0.57);
}


.caixaT1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caixaT2 {
    font-size: 0.9em;
    color:#fff;
    padding: 5px;
    transition: background-color 1s;
    position: relative;
    bottom: 90px;
    width: 70%;
    margin-left: 30%;
    background-color: rgba(169, 169, 169, 0.57);
}


.caixaT2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.espaço-art {padding: 10px;}

/************************* HIP-HOP ***************************************/
/** Header **/
#header-hip-hop {
  background: #070707;
  background: -webkit-linear-gradient(to right, #222222, #2c2c2c);
  background: linear-gradient(to right, #000000, #333333);
  color: #fff;
}
#header-sert a {
  color: #fff;
}

/*PÁGINA INDEX - HIP HOP*/
.posi{
    position: absolute;
    bottom: 0;
    background-color: rgba(74, 75, 75, 0.37);
}
/*PÁGINA ARTISTAS - HIP HOP*/

/*PÁGINA LANÇAMENTOS - HIP HOP*/

/*PÁGINA MAIS CONHECIDAS - HIP HOP*/

/*PÁGINA PREMIAÇÕES - HIP HOP*/

/*PÁGINA DESTAQUES - HIP HOP*/

/*PÁGINA ORIGEM - HIP HOP*/

/************* AJUSTES RESPONSIVOS **********************/
/* // Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
  .menu-text {
    display: none;
  }

  .no-display {
    display: none;
  }

  .sect-1-home-sert, .sect-2-home-sert, .sect-3-home-sert {
    width: 100%;
    max-height: 200px;
  }
}

/* // Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-text {
    display: none;
  }

  .no-display {
    display: none;
  }
}

/* // Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu-text {
    display: none;
  }
}

/* // Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {}

/**** HELPS **********************************************/
/** cores **/
/* https://www.color-hex.com/color  */
